<div class="w-screen h-screen flex bg-creamy-gray">
  <div class="w-2/6 relative overflow-hidden">
    <img
      ngSrc="assets/images/banner/workout-vertical.jpg"
      alt="Workout Banner"
      class="w-full h-full object-cover absolute drop-shadow-lg"
      height="5271"
      width="3514"
      draggable="false"
    />
  </div>
  <div class="w-4/6 flex items-center justify-center">
    <div class="bg-lime-green w-11/12 h-full flex items-center justify-center">
      <div class="bg-mirage-black w-11/12 h-full flex items-center justify-center">

      </div>
    </div>
  </div>
</div>
